[DEFAULT]

# The "Token" from the "Bot" tab of your Discord application.
BotToken = XXXXXX

# Path for the Sqlite database.
DBFile = /opt/discoggin/sql/discoggin.db

# Path for logging.
LogFile = /opt/discoggin/log/bot.log

# For annoyingly fiddly reasons, all of the paths below must be absolute.

# Directory to store game files in.
GamesDir = /opt/discoggin/games

# Directory to store game state.
AutoSaveDir = /opt/discoggin/autosaves

# Directory to store player-created save files and game data files.
SaveFileDir = /opt/discoggin/savefiles
