[DEFAULT]

# The "Token" from the "Bot" tab of your Discord application.
BotToken = XXXXXX

# Path for the Sqlite database.
DBFile = ./sql/discoggin.db

# Path for logging.
LogFile = ./log/bot.log

# Directory to store game files in.
GamesDir = ./games

# Directory to store game state.
AutoSaveDir = ./autosaves

# Directory to store player-created save files and game data files.
SaveFileDir = ./savefiles
